h1 {
    color: blueviolet;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    margin-left: 30px;
  }
/* 
  dot css stylying */

  li{
    color:blue;
  }

  body{
    background-color: magenta;
    background-repeat: no-repeat;
  }

  table{
    border-color: aquamarine;
    border-width: 3px;
    border-style: dotted;
  }
/* .classname */
  .table name{

  }

  #one{
    column-rule-color: aqua;
  }
/* property for all the tags */
  *{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
  }