body{
font-family:fantasy;}

form {
    width: 300px;
    margin: auto;
}

.submit{
margin: auto;
width: 100%;
}

.name, .email, .password, .age{
    display: block;
    margin-top: 100px;
    margin-bottom: 8px;
}
.test{
    border: ;
}